<h2> {{action}} - Employee</h2>

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="name">Employee name</label>
                <input type="text" [(ngModel)]="employee.firstName" name="name" class="form-control" id="name" placeholder="Enter name">
                <small *ngIf="employee.firstName === '' || employee.firstName === undefined" class="form-text text-muted text-danger">Name is required</small>
            </div>
            <h3 class="text-center"> Inventory Assigned</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of employee.inventory; let ind = index;">
                        <th>{{ind+1}}</th>
                        <th>{{i.name}}</th>
                        <th>
                            <button (click)="removeFromEmployee(ind)" class="btn btn-danger">
                                <i class="fa fa-minus"></i>
                            </button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <button [disabled]="employee.firstName === '' || employee.firstName === undefined" (click)=save(); class="btn btn-primary">Save</button>
            <button routerLink="/employees" class="btn btn-default">Back</button>
        </form>
    </div>
    <div class="col-md-6">
        <h3 class="text-center"> Available Inventory</h3>
        <div *ngIf="availableInventoryLoading; else inventoryListBlock">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin" style="font-size:48px"></i>
            </div>
        </div>
        <ng-template #inventoryListBlock>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Left in stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of availableInventory; let ind = index;">
                        <ng-container *ngIf="i.amount - i.taken > 0">
                            <th>{{ind+1}}</th>
                            <th>{{i.name}}</th>
                            <th>{{countItemsLeft(i.amount,i.taken)}}</th>
                            <th>
                                <button (click)="addForEmployee(i, ind)" class="btn btn-success">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </th>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </div>
</div>